<div class="dropdown">

    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Cardápio
    </a>

    <ul class="dropdown-menu">
        @foreach(var categoria in Model)
        {
           <li>
               <a class="dropdown-item" asp-controller="Pizza" asp-action="List" style="color:black" asp-route-categoria="@categoria.CategoriaName">@categoria.CategoriaName</a>
           </li>
        }
        <li class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item" asp-controller="Pizza" asp-action="List" asp-route-categoria="" style="color:black">Todas as Pizzas</a>
        </li>
        
    </ul>
</div>