@model PizzaListViewModel


<div>
    <h1>Todas as Pizzas</h1>
</div>


<div class="container" style="display:flex; flex-flow:row">
    <div class="row">
        @foreach(var pizza in Model.Pizzas)
        {
            <partial name="_PizzasResumo" for="@pizza"/>
        }
    </div>
</div>