@model HomeViewModel

<div style="display:flex; justify-content:center; align-items:center; padding-top: 5%" class="container">
    <div class="row">
        <div class="col-sm">
            <img src="~/imagens/pizza1.jpg" width="400" />
        </div>
        <div class="col-sm">
            <h1 style="text-align:center" class="display-4">Bem-vindo!</h1>
            <h5 style="text-align:justify">
                A PizzApp oferece a você, além de pizzas tradicionais, deliciosas pizzas veganas, sem lactose e sem glúten feitas com ingredientes cuidadosamente selecionados.
            </h5>
        </div>
    </div>
</div>
