<div class="text-center">
    <h1 class="display-4">PizzApp</h1>

    <div class="container" style="display:flex; flex-flow:row">
        <div id="card" style="margin: 5% 3% 3%; padding-bottom: 5%; width: 25%">
            <div id="icone" style="padding: 10%; margin: 0">
                <img src="~/imagens/produtos.png" class="img-fluid" alt="icone pedido" />
                <a class="btn btn-outline-dark" style="margin-top:7%" asp-area="Funcionarios" asp-controller="FuncionariosPizzas" asp-action="Index" role="button">PRODUTOS</a>
            </div>
        </div>
        <div id="card" style="margin: 5% 3% 3%; padding-bottom: 5%; width: 25%">
            <div id="icone" style="padding: 10%; margin: 0">
                <img src="~/imagens/categorias.png" class="img-fluid" alt="icone estoque" />
                <a class="btn btn-outline-dark" style="margin-top:7%" asp-area="Funcionarios" asp-controller="FuncionariosCategorias" asp-action="Index" role="button">CATEGORIAS</a>
            </div>
        </div>
        <div id="card" style="margin: 5% 3% 3%; padding-bottom: 5%; width: 25%">
            <div id="icone" style="padding: 10%; margin: 0">
                <img src="~/imagens/pedidos.png" class="img-fluid" alt="icone clientes" />
                <a class="btn btn-outline-dark" style="margin-top:7%" asp-area="Funcionarios" asp-controller="FuncionariosPedidos" asp-action="Index" role="button">PEDIDOS</a>
            </div>
        </div>
        <div id="card" style="margin: 5% 3% 3%; padding-bottom: 5%; width: 25%">
            <div id="icone" style="padding: 10%; margin: 0">
                <img src="~/imagens/relatorioestoque.png" class="img-fluid" alt="icone clientes" />
                <a class="btn btn-outline-dark" style="margin-top:7%" asp-area="Funcionarios" asp-controller="FuncionariosRelatorioEstoque" asp-action="Index" role="button">RELATÓRIO DE ESTOQUE</a>
            </div>
        </div>

   </div>

</div>

