<br />
<img src="~/imagens/pizzalogo.png" alt="Àrea de controle" class="marginTop1"/>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Àrea de controle</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Retornar a Home Page</a>
</div>