@model EstoqueModel
@{
    ViewData["Title"] = "Confirmação de remover item";
}

<div class="text-center">
    <h3>Realmente deseja remover item (@Model.Nome_Produtos)?</h3>
</div>

<div class="d-grid gap-2">
    <a class="btn btn-primary" role="button" asp-controller="AdminRelatorioEstoque" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button" asp-controller="AdminRelatorioEstoque" asp-action="Remover" asp-route-id="@Model.Id">Confirmar exclusão</a>
</div>
