<br />
<img src="~/imagens/adminarea.jpg" alt="Area de Administração" class="marginTop1" width="120" height="120" />
<div class="container">
    <div cite="jumbotron">
        <p>
            <h2>Area do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
</div>