<div class="container">
    <div style="padding: 0" class="row">
        <img src="~/imagens/faleconosco1.jpg" alt="Fale conosco"/>
    </div>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida, reclamação ou sugestão fale conosco.
        </p>
        <p style="margin:0">
            <span >
                <img src="~/imagens/Envelope-icon24.png"/>
            </span>
            <h5>contato@pizzapp.com.br</h5>
            <br />
            <span>
                <img src="~/imagens/phone-app-icon.png"/>
            </span>            
            <h5>(65) 99966-4451</h5>
            <br />
            <span>
                <img src="~/imagens/Home-iconred.png" />
            </span>
            <h5>Avenida Afonso Pena, 1212 - Centro | 30130-003 - Belo Horizonte/Minas Gerais</h5>
        </p>
    </div>
</div>