<div class="container">
    <img src="~/imagens/faleconosco1.jpg" alt="Fale conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida, reclamação ou sugestão fale conosco.
        </p>
        <p>
            <span>
                <img src="~/imagens/Envelope-icon24.png"/>
            </span>
            <h5><email endereco="leh_pauli9@hotmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/imagens/phone-app-icon.png"/>
            </span>
            <h5>(65) 99966-4451</h5>
            <br />
            <span>
                <img src="~/imagens/Home-iconred.png" />
            </span>
            <h5>Rua X, 120 - 01244-000 - Minas Gerais</h5>
        </p>
    </div>
</div>